.page {
  min-width: 1280px;
  min-height: 6875px;
  margin: 0 auto;
  padding-top: 28px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 24px;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #2A2C2F;
}