.cover__subtitle {
    margin: 0;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 245px;
    margin-left: 412px;
    margin-right: 412px;
    color: #fff;
    display: flex;
    z-index: 2;
}