.place {
  margin: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, minmax(min-content, max-content));
  grid-template-rows: repeat(3, minmax(min-content, max-content));
  gap: 48px 40px;
  width: 984px;
  height: 660px;
}

.place:nth-of-type(5) {
  margin: 0;
}